.general {
    display: flex;
    flex-direction: column;
}

.botonera {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}